@charset "UTF-8";

@font-face
{
  font-family: "VT323";
  font-display: swap;
  src: url("fonts/VT323.woff2") format("woff2");
}

html, body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6
{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1
{
  font-size: 2.5rem;
}
h2
{
  font-size: 2rem;
}
h3
{
  font-size: 1.75rem;
}
h4
{
  font-size: 1.5rem;
}
h5
{
  font-size: 1.25rem;
}
h6
{
  font-size: 1rem;
}

p
{
  margin-top: 0;
  margin-bottom: 1rem;
}

a, a:link, a:visited
{
  color: #00F;
  text-decoration: none;
}
a:hover
{
  color: #F70;
}

header, main, footer
{
  padding: 0px 16px;
}

.container
{
  max-width: 720px;
  min-height: 100%;
  width: 720px;
  height: auto;
  margin-left: 30px;
  font-family: "VT323", monospace;
  border-left: 4px dotted #000;
  border-right: 4px dotted #000;
  background: #FFF;
}

@media (max-width: 800px)
{
  .container
  {
    max-width: 100%;
    width: 100%;
    margin: 0;
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 960px)
{
  .container
  {
    margin: 0 auto;
  }
}

.note
{
  margin: 8px 0px;
  padding: 8px 16px;
  text-align: center;
  color: #FFF;
  background: #00F;
}

.warning
{
  margin: 8px 0px;
  padding: 8px 16px;
  text-align: center;
  color: #FFF;
  background: #F00;
}

a .note:hover, a .warning:hover
{
  color: #FFF;
  background: #000;
}

.note h5, .warning h5
{
  margin: 0;
  padding: 0;
}

.note a, .note a:link, .note a:visited,
.warning a, .warning a:link, .warning a:visited
{
  color: #FF0;
}
.note a:hover,
.warning a:hover
{
  color: #F70;
  text-decoration: none;
}

.centerise
{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

header
{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

header h1 .colors
{
  display: inline;
  margin: 0;
  padding: 0;
}

@media (max-width: 575px)
{
  header h1 .colors
  {
    display: none;
  }
}

header .info
{
  color: #CCC;
  border-top: 4px dotted #CCC;
  border-bottom: 4px dotted #CCC;
}

header .info h5
{
  margin: 0;
  padding: 0;
}

header noscript .warning
{
  margin-top: 8px;
  margin-bottom: 16px;
  text-align: center;
}

nav.collapsible
{
  overflow: hidden;
}

nav.collapsible a
{
  display: block;
  float: left;
  padding: 0px 12px;
}
nav.collapsible a:first-child
{
  padding-left: 0;
}
nav.collapsible a:nth-last-child(2)
{
  padding-right: 0;
}
nav.collapsible a#active
{
  text-decoration: underline;
}
nav.collapsible a.toggle
{
  display: none;
}

@media (max-width: 575px)
{
  nav.collapsible a:not(:first-child)
  {
    display: none;
  }
  nav.collapsible a.toggle
  {
    display: block;
    float: right;
  }

  nav.collapsible.responsive
  {
    position: relative;
  }

  nav.collapsible.responsive a
  {
    float: none;
    display: block;
    padding-left: 0;
    text-align: left;
  }
  nav.collapsible.responsive a.toggle
  {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.section
{
  margin-top: 12px;
  margin-bottom: 12px;
}

.section img
{
  width: 100%;
}

.section .platform img
{
  width: 32px;
  border: none;
}

.section .thumbnail
{
  border: 3px dotted #000;
  height: 160px;
}

.section .thumbnail img
{
  width: 100%;
  height: 100%;
}

.game-year
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #CCC;
}

.game-year span
{
  margin: 0 12px;
}

.game-year:before, .game-year:after
{
  background: none;
  height: 0px;
  flex: 1;
  content: '';
  border-bottom: 4px dotted #CCC;
}

.game-banner
{
  border: 3px dotted #000;
  border-top-style: solid;
  border-bottom-style: solid;
  height: 160px;
  background-color: #FFF;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.game-content
{
  display: none;
  border: 3px dotted #000;
  border-top-style: solid;
  border-bottom-style: solid;
  padding-right: 12px;
  padding-left: 12px;
  height: 480px;
}

.game-header
{
  position: relative;
  width: 100%;
  height: 10%;
  font-size: 2.5rem;
}

.game-header .title
{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #000;
}

.game-header .date
{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: right;
  color: #AAA;
}

@media (max-width: 575px)
{
  .game-header .title
  {
    text-align: center;
  }

  .game-header .date
  {
    display: none;
  }
}

.game-body
{
  position: relative;
  width: 100%;
  height: 90%;
}

.game-body .close
{
  position: absolute;
  right: -6px;
  bottom: 0;
  font-size: 1.5rem;
  color: #00F;
  cursor: pointer;
}

.game-body .close:hover
{
  color: #F70;
}

.game-banner#garden-banner
{
  background-image: url("../img/thumbs/garden.png");
}
.game-banner#rocket-banner
{
  background-image: url("../img/thumbs/rocket.png");
}
.game-banner#tako-banner
{
  background-image: url("../img/thumbs/tako.png");
}
.game-banner#planet-3310-banner
{
  background-image: url("../img/thumbs/planet-3310.png");
}
.game-banner#brick-and-blood-banner
{
  background-image: url("../img/thumbs/brick-and-blood.png");
}
.game-banner#fish-blaster-banner
{
  background-image: url("../img/thumbs/fish-blaster.png");
}
.game-banner#dog-banner
{
  background-image: url("../img/thumbs/dog.png");
}
.game-banner#gbisaac-banner
{
  background-image: url("../img/thumbs/gbisaac.png");
}
.game-banner#trace-ball-banner
{
  background-image: url("../img/thumbs/trace-ball.png");
}
.game-banner#snake-banner
{
  background-image: url("../img/thumbs/snake.png");
}
.game-banner#minions-banner
{
  background-image: url("../img/thumbs/minions.png");
}
.game-banner#runner-banner
{
  background-image: url("../img/thumbs/runner.png");
}
.game-banner#block-fever-banner
{
  background-image: url("../img/thumbs/block-fever.png");
}
.game-banner#lala-banner
{
  background-image: url("../img/thumbs/lala.png");
}

footer
{
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;
  padding-top: 16px;
  padding-bottom: 12px;
  border-top: 4px dotted #CCC;
  text-align: center;
}

footer h5
{
  color: #CCC;
}

footer nav ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer nav ul li
{
  display: inline-block;
  padding: 0px 12px;
}
footer nav ul li:first-child
{
  padding-left: 0;
}

footer nav ul li a h5, footer nav ul li a:link h5, footer nav ul li a:visited h5
{
  color: #AAF;
}
footer nav ul li a:hover h5
{
  color: #FCA;
}

.note#home
{
  color: #000;
  background: #0F0;
}
.note#games
{
  color: #FFF;
  background: #00F;
}
.note#software
{
  color: #000;
  background: #FF0;
}
.note#screensavers
{
  color: #FFF;
  background: #F0F;
}
.note#contact
{
  color: #FFF;
  background: #F00;
}

.note#home:hover,
.note#games:hover,
.note#software:hover,
.note#screensavers:hover,
.note#contact:hover
{
  color: #FFF;
  background: #000;
}

.center
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
